.stars-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://www.transparenttextures.com/patterns/stardust.png"); /* Yıldız deseni resmi */
  z-index: 0;
  animation: twinkling 15s linear infinite;
  pointer-events: none;
}

@keyframes twinkling {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 1000px 1000px;
  }
}
